#con{
    padding: 30px;
    margin-top: 50px;
    margin-left:200px;
    width: 900px;
    border-radius: 10px;
    border:10px solid brown;

}
#c1{
    margin: 70px;
    background-color: cadetblue;
}
