<div class="container-fluid ">
    <h2 style="text-align: center;color: black;background-color: cornsilk;     padding: 20px;">Virtual Workshop Registration form</h2>
</div>
<hr>
<div class="container border">
    <div class="row">
        <div class="col-6">
            <p>join the 3 day web developemt Workshop</p>
            <p>and become hireable freelancer</p>
            <p>participation fee $200</p>
            <p> limited slots ...reserve yours now </p>
        </div>
        <div class="col-6">
            <label ><b> Virtual Workshop Schedule</b></label>
            <p>  May 1-3  9:00 AM - 1:00 PM EST</p>
            <p>  May 3-5  9:00 AM - 1:00 PM EST</p>
            <p>  May 5-7  9:00 AM - 1:00 PM EST</p>
            <p>  May 7-9  9:00 AM - 1:00 PM EST</p>
            <p>  May 9-11  9:00 AM - 1:00 PM EST</p>
        </div>
    </div>
</div>
<br>

<div class="container border" >
    <label><b>Please rate your web development skills </b></label>

    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox">
                <label><input type="checkbox" value=""> I dont have any idea at all</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value=""> I am new in webdevelopment</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> I have watched tutorials online</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> I have watched tutorials online</label>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container border">
    <label for=""><b> I would liked tolearn about following </b></label>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label><input type="checkbox" value=""> HTML</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value=""> Java script</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Database</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Rudy and rails</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Devops</label>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="checkbox">
                <label><input type="checkbox" value=""> CS</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value=""> PHP</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Wordpress</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Python</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value=""> Web security</label>
            </div>
            <div class="checkbox ">
                <label><input type="checkbox" value="" required> others</label>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container ">
    <!-- <h4 class="display-4" style="text-align: center;">Form</h4> -->
    <form #Workshop_Form="ngForm" class="c1" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;color: black;background-color: cornsilk;     padding: 20px;" > Participant Information</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" #name='ngModel' name="username" [class.is-invalid]="name.invalid && name.touched"
                        required [(ngModel)]='user1.name' class="form-control">
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" #email="ngModel" required [class.is-invalid]="email.invalid && email.touched"
                        name="email" [(ngModel)]='user1.email' class="form-control">
                    <small class="text-danger" [class.d-none]='email.valid || email.untouched'>Email is required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="tel" #phone='ngModel' pattern="^\d{10}$" required
                        [class.is-invalid]="phone.invalid && phone.touched" name="email" name="phone"
                        [(ngModel)]='user1.phone' class="form-control">
                    <!-- <small class="text-danger" [class.d-none]='phone.valid || phone.untouched'>Phone number is required and must be of 10 digits</small> -->
                    <div *ngIf='phone.errors && (phone.invalid && phone.touched)'>
                        <small class="text-danger" *ngIf='phone.errors.required'>Phone number is required </small>
                        <small class="text-danger" *ngIf='phone.errors.pattern'>Phone number must be of 10 digits
                        </small>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div ngModelaGroup="Address"> -->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Address </label>
                   
                    <input type="text" #street='ngModel' name="street"
                        [class.is-invalid]="street.invalid && street.touched" required [(ngModel)]='user1.street'
                        class="form-control">
                    <small class="text-danger" [class.d-none]="street.valid || street.untouched">This is
                        required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>City </label>
                    <input type="text" #city='ngModel' name="city" [class.is-invalid]="city.invalid && city.touched"
                        required [(ngModel)]='user1.city' class="form-control">
                    <small class="text-danger" [class.d-none]="city.valid || city.untouched">This is required</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>State/Province </label>
                    <input type="text" #state='ngModel' name="state" [class.is-invalid]="state.invalid && state.touched"
                        required [(ngModel)]='user1.state' class="form-control">
                    <small class="text-danger" [class.d-none]="state.valid || state.untouched">This is required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Postal/Zip code </label>
                    <input type="text" #code='ngModel' name="code" [class.is-invalid]="code.invalid && code.touched"
                        required [(ngModel)]='user1.code' class="form-control">
                    <small class="text-danger" [class.d-none]="code.valid || code.untouched">This is required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Occupation </label>
                    <input type="text" #occupation='ngModel' name="occupation"
                        [class.is-invalid]="occupation.invalid && occupation.touched" required
                        [(ngModel)]='user1.occupation' class="form-control">
                    <small class="text-danger" [class.d-none]="occupation.valid || occupation.untouched">This is
                        required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Company Name </label>
                    <input type="text" #company='ngModel' name="company"
                        [class.is-invalid]="company.invalid && company.touched" required [(ngModel)]='user1.company'
                        class="form-control">
                    <small class="text-danger" [class.d-none]="company.valid || company.untouched">This is
                        required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Job Position Title </label>
                    <input type="text" #job='ngModel' name="job" [class.is-invalid]="job.invalid && job.touched"
                        required [(ngModel)]='user1.job' class="form-control">
                    <small class="text-danger" [class.d-none]="job.valid || job.untouched">This is required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;color: black;background-color: cornsilk;     padding: 20px;">Payment Information</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="form-gropup">
                    <label>Workshop Dates (2020)</label>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> May 1-2</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> June 1-3</label>
                    </div>
                    <div class="checkbox ">
                        <label><input type="checkbox" value=""> July 1-3</label>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="form-gropup">
                    <label>Workshop Dates (2020)</label>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> May 15-18</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> June 12-13</label>
                    </div>
                    <div class="checkbox ">
                        <label><input type="checkbox" value=""> July 20-15</label>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-7">
                <div class="form-group">
                    <label>Virtual Workshop Payment</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" #pay='ngModel' name="pay" [(ngModel)]='user1.pay'>
                        <label for="" class="form-check-lable">Participation fee $200</label>
                        <br>
                        <label> Total              : $0.0</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Payment method</label>
                    <select name="method" id="" class="custom-select" [(ngModel)]='user1.method'>
                        <option value=""></option>
                        <option *ngFor="let method of methods" value="{{method}}">{{method}}</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="comment">Any additional comments or information you would like to  Share?</label>
                    <textarea name="comment" class="form-control" rows="5" [(ngModel)]='user1.comment'
                        placeholder="Type here...."></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-gropup">
                    <label>How did you Learn about this virtual training program?</label>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> Facebook</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> Instagram</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> Search engine</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> Referal</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn-primary" style="flood-color: darkblue;"    [disabled]='!Workshop_Form.form.valid'>Register</button>
<br>
    </form>
</div>